@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
     background-color: #f4eaea !important;
     font-family: 'Quicksand', sans-serif;
     min-height: 100vh !important;
     width: 100vw !important;
}

button:hover{
     color: white !important;
}

.radius{
     border-radius: 8px !important;
}

.center{
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.centerColumn{
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.centerRow{
     align-items: center;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
}

.menu{
     background-color: white !important
}

.menuButtons button{
     min-width: 150px !important;
}

#amountComp,
#capitalComp,
#simpleAmountResult, 
#simpleCapitalResult, 
#simpleRateResult,
#simpleTimeResult,
#timeComp
{
     font-size: 2.5rem;
}

#simpleFeesTimeResult,
#compFees,
#rateComp
{
     font-size: 2rem;
}

.simpleAmountModal, 
.simpleCapitalModal, 
.simpleRateModal,
.simpleTimeModal,
.compAmountModal,
.compCapitalModal,
.compRateModal,
.compTimeModal,
.menuButtonsComp
{
     animation: open 0.5s ease-in-out;
}

.midias i{
     cursor: pointer;
     font-size: 1.25rem;
}

.rodape h6{
     font-size: 0.8rem !important;
}