@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
     background-color: #d7d8e7 !important;
     font-family: 'Quicksand', sans-serif;
     min-height: 100vh !important;
     width: 100vw !important;
}

.blackScreen{
     background-color: rgba(0, 0, 0, 0.704);
     min-height: 150vh !important;
     min-width: 150vw !important;
     position: absolute;
     z-index: 100;
     top: 0;
     left: 0;
}

.coverSite{
     position: absolute;
     min-height: 100vh;
     max-width: 100vw;
     top: 0;
     left: 0;
}

.coverPhoto img{
     max-width: 900px !important;
     width: 100%;
}

#btnStart{border-radius: 6px !important}

button:hover{color: white !important}

a{cursor: pointer}

.radius{border-radius: 8px !important}

.center{
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.centerColumn{
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.centerRow{
     align-items: center;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
}

.navigation{
     width: 100vw;
     min-height: 100px;
     background-color: white;
}

.menu{background-color: white !important}

.menuButtons button{min-width: 150px !important}

#amountComp,
#capitalComp,
#simpleAmountResult, 
#simpleCapitalResult, 
#simpleRateResult,
#simpleTimeResult,
#timeComp,
#currentValueDescComp
{
     font-size: 2.5rem;
}

#simpleFeesTimeResult,
#compFees,
#rateComp,
#descComp
{
     font-size: 2rem;
}

.simpleAmountModal, 
.simpleCapitalModal, 
.simpleRateModal,
.simpleTimeModal,
.compAmountModal,
.compCapitalModal,
.compRateModal,
.compTimeModal,
.menuButtonsComp
{
     animation: open 0.5s ease-in-out;
}

a:hover{
     color: rgb(65, 65, 192) !important;
}

.jSimpInfo, .jCompInfo{
     background-color: rgb(246, 235, 235);
     position: absolute;
     border-radius: 8px !important;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 101;
}

.midias i{
     cursor: pointer;
     font-size: 1.25rem;
}

.rodape{
     position: absolute;
     top: 85vh;
     z-index: 102;
}

.rodape h6{font-size: 0.8rem !important}