*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

h1, h2{
     text-shadow: 1px 1px 1px black;
}

body{
     background-image: url("/img/background.jpg");
     background-size: cover;
     min-height: 90vh;
}

#imageTitle{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 10vh;
}

.compound{
     max-width: 300px;
     background-color: rgba(68, 59, 59, 0.552);
     animation-name: compound;
     animation-duration: .5s;
     animation-timing-function: linear;
     margin-left: auto;
     margin-right: auto;
}

.result{
     font-size: 1.25rem;
     text-align: center;
}

